<!-- ./views/edit.handlebars -->
<form action="/restaurants" method="POST">
  <input type="text" placeholder="name" name="name" value="">
  <br>
  <br>
  <input type="text" placeholder="name_en" name="name_en" value="">
  <br>
  <br>
  <input type="text" placeholder="category" name="category" value="">
  <br>
  <br>
  <input type=" text" placeholder="image" name="image" value="">
  <br>
  <br>
  <input type="text" placeholder="phone" name="phone" value="">
  <br>
  <br>
  <input type="text" placeholder="google_map" name="google_map" value="">
  <br>
  <br>

  <input type="text" placeholder="location" name="location" value="">
  <br>
  <br>
  <input type="text" placeholder="rating" name="rating" value="">
  <br>
  <br>
  <textarea name="description" placeholder="description"></textarea>
  <br>
  <br>
  <button type=" submit">Edit</button>
</form>

<!-- ./views/show.handlebars -->